<!DOCTYPE html>
<html lang="en" data-page-id="conclusion">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Conclusion</title>
  <link rel="icon" type="image/x-icon" href="/images/ttb-fav-icon.png">
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/conclusion.css" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />

  <script type="importmap">
    {
      "imports": {
        "@material/web/": "https://esm.run/@material/web/"
      }
    }
  </script>
  <script type="module">
    import "@material/web/all.js";
    import { styles as typescaleStyles } from "@material/web/typography/md-typescale-styles.js";
    document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
  <div class="header">
    <div class="header-content">
      <span class="material-symbols-outlined close-icon">close</span>
      <h1>Conclusion</h1>
    </div>
  </div>

  <div class="instruction-content">
    <!-- <div id="fd-intro">
      <h2>Come to Your Conclusion</h2>
      <p>
        Now that we finished the lab simulation, let's write down our discoveries:
      </p>

      <div class="block-card">
        <div class="block-card-content">
            <h3>Your Conclusions</h3>

            <div class="dropdown-inline-container">
              <span class="dropdown-inline-text">
                If I choose a <b>higher</b> initial deflection, the figure of merit of the galvanometer will
              </span>
  
              <div class="dropdown dropdown-inline">
                  <md-outlined-button class="dropdown-button dropdown-button-inline" style="width: 120px;" id="c_1">
                      Select
                  </md-outlined-button>
                  <span class="material-symbols-outlined dropdown-arrow" >keyboard_arrow_down</span>
                  
                  <md-menu id="usage-menu" anchor="c_1">
                      <md-menu-item data-value="Select">
                          <div slot="headline">Select</div>
                      </md-menu-item >
                      <md-menu-item data-value="increase">
                          <div slot="headline">increase</div>
                      </md-menu-item>
                      <md-menu-item data-value="decrease">
                          <div slot="headline">decrease</div>
                      </md-menu-item>
                      <md-menu-item data-value="not change">
                          <div slot="headline">not change</div>
                      </md-menu-item>
                  </md-menu>
              </div>
  
              <span class="dropdown-inline-text" >
                .
              </span>
            </div>

            <br>

            <div class="dropdown-inline-container">
              <span class="dropdown-inline-text">
                If I choose a <b>lower</b> initial deflection, the figure of merit of the galvanometer will
              </span>
  
              <div class="dropdown dropdown-inline">
                  <md-outlined-button class="dropdown-button dropdown-button-inline" style="width: 120px;" id="c_2">
                      Select
                  </md-outlined-button>
                  <span class="material-symbols-outlined dropdown-arrow">keyboard_arrow_down</span>
                  
                  <md-menu id="usage-menu" anchor="c_2">
                      <md-menu-item data-value="Select">
                          <div slot="headline">Select</div>
                      </md-menu-item >
                      <md-menu-item data-value="increase">
                          <div slot="headline">increase</div>
                      </md-menu-item>
                      <md-menu-item data-value="decrease">
                          <div slot="headline">decrease</div>
                      </md-menu-item>
                      <md-menu-item data-value="not change">
                          <div slot="headline">not change</div>
                      </md-menu-item>
                  </md-menu>
              </div>
  
              <span class="dropdown-inline-text">
                  .
              </span>
            </div>
            
        </div>
      </div>
    
    
      <div class="button-container">
        <md-outlined-button class="next-button" data-key="next_section_principle">Next</md-outlined-button>
      </div>
      
    </div> -->
  </div>

  <!-- Import Javascript Code -->
  <script src="/javascript/conclusion.js"></script>
  <script src="/javascript/main.js"></script>
</body>
</html>
