<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduction to Galvanometer</title>
    <link rel="stylesheet" href="/css/interactive_simulation.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <script type="importmap">
      {
        "imports": {
          "@material/web/": "https://esm.run/@material/web/"
        }
      }
    </script>
    <script type="module">
      import "@material/web/all.js";
      import { styles as typescaleStyles } from "@material/web/typography/md-typescale-styles.js";
      document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>

  </head>

  <body>
    <div class="header">
      <div class="header-content">
        <span class="material-symbols-outlined roadmap-icon">close</span>
        <h1>Introduction</h1>
      </div>
    </div>

    <div class="instruction-content">
      <div id="ic-sim-intro">
        <h2>Learning about Galvanometer</h2>
        <p>
          Explore how a galvanometer works with an interactive simulation. You
          will adjust the current and observe the deflection. Deflection is the
          movement of the needle on the scale, and it shows how much the needle
          moves when current flows through the galvanometer.
        </p>

        <div class="button-container">
          <md-outlined-button
            class="fd-next-button"
            data-key="next_ic_sim_activity"
            >Next</md-outlined-button
          >
        </div>
      </div>

    </div>

    <!-- Import Javascript Code -->
    <script src="/javascript/interactive_simulation.js"></script>
  </body>
</html>
