<!DOCTYPE html>
<html lang="en" data-page-id="figure-of-merit">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Figure of Merit</title>
  <link rel="icon" type="image/x-icon" href="/images/ttb-fav-icon.png">
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/introduction_to_figure_of_merit.css" />

  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />

  <script type="importmap">
    {
      "imports": {
        "@material/web/": "https://esm.run/@material/web/"
      }
    }
  </script>
  <script type="module">
    import "@material/web/all.js";
    import { styles as typescaleStyles } from "@material/web/typography/md-typescale-styles.js";
    document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" defer></script> -->
  <!-- <script>
    MathJax = {
      startup: {
        ready: function() {
          MathJax.startup.defaultReady();
          console.log('MathJax is ready');
        }
      }
    };
  </script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script> -->

</head>

<body>
  <div class="header">
    <div class="header-content">
      <span class="material-symbols-outlined close-icon">close</span>
      <h1>Figure of Merit</h1>
    </div>
  </div>

  <div class="instruction-content">
    <div id="fd-intro">
      <h2>Introduction to Figure of Merit</h2>
      <p>
        Earlier, we learned that the deflection of the galvanometer is proportional to the current flowing through it. 
        We can use a formula to represent this relationship:
      </p>

      <div class="centered">
        \(\boldsymbol{I = k \theta }\)
      </div>

      <p>In this formula, \(\boldsymbol{I}\) represents the current flowing through the galvanometer, and <b>\(\boldsymbol{\theta}\) (theta)</b> represents the deflection of the galvanometer.</p>


      <div class="button-container">
        <md-outlined-button class="next-button" data-key="next_fm_k">Next</md-outlined-button>
      </div>

    </div>

  </div>

  <!-- Import Javascript Code -->
  <script src="/javascript/main.js"></script>
</body>
</html>
