<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Introduction to Galvanometer</title>
  <link rel="stylesheet" href="/css/introduction_to_g.css" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />

  <script type="importmap">
    {
      "imports": {
        "@material/web/": "https://esm.run/@material/web/"
      }
    }
  </script>
  <script type="module">
    import "@material/web/all.js";
    import { styles as typescaleStyles } from "@material/web/typography/md-typescale-styles.js";
    document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
  <div class="header">
    <div class="header-content">
      <span class="material-symbols-outlined roadmap-icon">close</span>
      <h1>Introduction</h1>
    </div>
  </div>

  <div class="instruction-content">
    <div id="fd-intro">
      <h2>Introduction to Galvanometer</h2>
      <p>
        A galvanometer is uniquely capable of detecting and measuring the slightest electrical currents,
        unlike other devices such as ammeters, which measure larger currents, and voltmeters,
        which measure voltage.
      </p>

      <div class="Galvanometer-section">
        <img src="/images/image 7.png" alt="Galvanometer">
      </div>

      <p class="legend">(Galvanometer)</p>

      <div class="button-container">
        <md-outlined-button class="fd-next-button" data-key="next_section_principle">Next</md-outlined-button>
      </div>
    </div>
  </div>

  <!-- Import Javascript Code -->
  <script src="/javascript/introduction_to_g.js"></script>
</body>
</html>
