<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hypothesis</title>
  <link rel="stylesheet" href="/css/lab_simulation.css" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" />

  <script type="importmap">
    {
      "imports": {
        "@material/web/": "https://esm.run/@material/web/"
      }
    }
  </script>
  <script type="module">
    import "@material/web/all.js";
    import { styles as typescaleStyles } from "@material/web/typography/md-typescale-styles.js";
    document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
  <div class="header">
    <div class="header-content">
      <span class="material-symbols-outlined roadmap-icon">close</span>
      <h1>Lab Simulation</h1>
    </div>
  </div>

  <div class="result">
    <div class="ellipse-div">
      <img class="prize-icon" alt="prize" src="/images/image 3.png">
    </div>
  </div>  
  
  <p class="description">For the lab experience, please turn your phone sideways for optimal viewing.</p>
  
  <div class="button-container">
    <div class="button">
      <div class="state-layer">
        <div class="label-text">Enter the Lab</div>
      </div>
    </div>
  </div>
</body>

</html>
