<!DOCTYPE html>
<html lang="en" data-page-id="lab-simulation-prep">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lab Simulation</title>
  <link rel="icon" type="image/x-icon" href="/images/ttb-fav-icon.png">
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/lab_simulation.css" />

  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />

  <script type="importmap">
    {
      "imports": {
        "@material/web/": "https://esm.run/@material/web/"
      }
    }
  </script>
  <script type="module">
    import "@material/web/all.js";
    import { styles as typescaleStyles } from "@material/web/typography/md-typescale-styles.js";
    document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
  <div class="header">
    <div class="header-content">
      <span class="material-symbols-outlined close-icon">close</span>
      <h1>Lab Simulation</h1>
    </div>
  </div>

  <div class="instruction-content">
    
    <div class="result">
      <div class="ellipse-div">
        <img class="prize-icon" alt="turn phone" src="/images/image 3.png">
      </div>
    </div>  
    
    <p>For the lab experience, please turn your phone sideways for optimal viewing.</p>
    
    <div class="button-container">
      <md-filled-button class="enter-lab-button">Enter the Lab</md-filled-button>
    </div>
  </div>
  

  <!-- Import Javascript Code -->
  <script src="/javascript/main.js"></script>
  <script src="/javascript/lab_simulation.js"></script>
</body>
</html>
