<!DOCTYPE html>
<html lang="en" data-page-id="lab-simulation-prep">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lab Simulation</title>
  <link rel="icon" type="image/x-icon" href="/images/ttb-fav-icon.png">
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/lab_simulation.css" />

  <!-- Import Material Symbols font for icon usage -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

  <!-- Import Roboto font from Google Fonts (taken from MD3 README) -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  
  <!-- Import map for Material Web Components (taken from MD3 README) -->
  <script type="importmap">
      {
      "imports": {
          "@material/web/": "https://esm.run/@material/web/"
      }
      }
  </script>
  
  <!-- Import all Material Web Components and typography styles (taken from MD3 README) -->
  <script type="module">
      import '@material/web/all.js';
      import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';

      document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
  </script>

  <!-- Polyfill for ES6 features, required for some SVG functionalities -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

  <!-- MathJax library for rendering mathematical notation -->
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <!-- GreenSock Animation Platform (GSAP) for animations -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
</head>

<body>
  <div class="header">
    <div class="header-content">
      <span class="material-symbols-outlined close-icon">close</span>
      <h1>Lab Simulation</h1>
    </div>
  </div>

  <div class="instruction-content">
    
    <div class="lab-simulation-content">
      <div class="phone-icon-container">
        <img class="phone-icon" alt="turn phone" src="/images/rotate-phone.svg">
      </div>
      
      <p>For the lab experience, please turn your phone sideways for optimal viewing.</p>
      
      <div class="button-container">
        <md-filled-button class="enter-lab-button">Enter the Lab</md-filled-button>
      </div>
    </div>
    
  </div>
  

  <!-- Import Javascript Code -->
  <script src="/javascript/main.js"></script>
  <script src="/javascript/lab_simulation.js"></script>
</body>
</html>
