<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	<title>Result</title>
	  <link rel="icon" type="image/x-icon" href="/images/ttb-fav-icon.png">
  	<link rel="stylesheet"  href="/css/main.css" />
	<link rel="stylesheet"  href="/css/result.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap" />
  	
  	
</head>


<body>
  	
  	<div class="result">
    		<img class="prize-icon" alt="prize" src="/images/results-icon.svg">
    		<div class="congratulations">Congratulations!</div>
    		<div class="you-have-successfully-container">
      			<p class="you-have-successfully">You have successfully finished the lab.</p>
      			<p class="you-have-successfully">Great job!</p>
    		</div>
    		<div class="button">
      			<div class="state-layer">
        				<div class="label-text">Go Back to Main Page</div>
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>