.circuit-diagram-container {
    width: 100%;
    min-width: 200px;
    max-width: 500px;
    padding-bottom: 10px;
}

.circuit-diagram-image {
    width: 100%;
    margin-bottom: 10px;
}

.circuit-diagram-buttons {
    width: 100%;
    display: flex;
}

.circuit-diagram-caption{
    padding: 0px 10px;
}

.circuit-diagram-icon-inline {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: -3px;
}

#circuit-button-next {
    margin-left: auto;
}