.sim-controls-row {
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

.sim-variable {
    margin-right: 10px;
}

.sim-button {
    cursor: pointer;
    background-color: #DFF3FF;
    width: 30px;
    height: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sim-reading {
    background-color: #F2F2F2;
    width: 80px;
    height: 30px;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
    border-left: 1px solid #004A76; /* Adjust the color and width as needed */
    border-right: 1px solid #004A76; /* Adjust the color and width as needed */
}

.sim-hidden {
    display: none;
}
