.overlay-container {
    z-index: 1000;
    position: sticky;
    --md-dialog-headline-size: 20px;
    --md-dialog-headline-weight: 600;
}

.overlay-h1 {
    width: 230px;
    color: #013355;
}

.overlay-h2 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    color: #013355;
}

#toolbox-overlay-dialog {
    height: 400px;
    width: 320px;
}

#toolbox-overlay-top {
    padding-left: 24px;
}

#toolbox-overlay-close {
    color: #848484;
}

.toolbox-overlay-content {
    padding-top: 5px;
    font-size: 16px;
}

.toolbox-row {
    display: flex;
    margin-bottom: 8px;
}

.toolbox-eq-name {
    color: black;
    width: 120px;
    font-weight: 400;
}

.toolbox-eq {
    color: black;
}


.toolbox-circuit {
    display: flex;
    justify-content: center;
}


.toolbox-circuit img {
    width: 150px;
}

.progress-overlay-content {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: start; /* Adjust alignment as needed */
    gap: 10px; /* Adjust spacing between items as needed */
}


#progress-overlay-close {
    color: #848484;
}

.toc-section {
    cursor: pointer;
}

.current-section {
    background-color: #DFF3FF;
    --md-list-item-label-text-color: #013355;
    --md-list-item-label-text-weight: 500;
    border-radius: 4px; /* Optional: for rounded corners */
}

.progress {
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 70px; /* This ensures it appears just below the header */
    z-index: 400; /* Ensure it is above other elements but below the header */
    
}

.progress-content {
    color: #047DB7;
    display: flex;
    align-items: center;
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px;
}

#header-toolbox-icon {
    margin-right: 10px;
    cursor: pointer;
    width: 22px;
}

.toolbox-tooltip {
    position: absolute;
    top: 130px;
    left: 10px;
    z-index: 600;
    text-align: center;
    align-items: center;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #DFF3FF;
    color: #013355;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.tooltip-triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #DFF3FF;
    position: absolute;
    top: -15px;
    z-index: 650;
}

.roadmap-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

#progress-bar-container {
    cursor: pointer;
}

#progress-bar-base {
    width: 100%;
}

.progress-circle-incomplete {
    fill: #BCE2F9;
}

.progress-circle-complete {
    fill: #047DB7;
}

#igg-form1, #igg-form3, #igg-form2, #igg-arrow1, #igg-arrow2, #igg-arrow3, 
#igg-form4-1, #igg-form4-2, #igg-form4-3, #igg-form4-4, #igg-rect1, #igg-rect2, #igg-rect3 {
    opacity: 0;
}

#ohms-rectV, #ohms-rectR, #ohms-form1, #ohms-form2, #ohms-form3-v1, 
#ohms-form3-v2, #ohms-form3-v3, #ohms-text1, #ohms-text2, #ohms-form4, #ohms-form4-move,
#ohms-form5, #ohms-form5-move {
    opacity: 0;
}

.replay-button-container {
    display: flex;
    justify-content: flex-end;
}

.replay-button {
    display: inline-flex;
    align-items: center;
    justify-content: left; /* If you want to center horizontally as well */
    height: 100%; /* Ensures the button takes the full height of its container */
    margin-bottom: 10px;
}

.replay-button span {
    display: flex;
    align-items: center;
    margin-right: 3px; /* Adjust spacing between icon and text */
}

.equation-caption {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    width: 100%;
    font-style: italic;
}

.equation {
    display: flex;
    margin-bottom: 15px;
}

.equation-large {
    font-size: 20px;
}

.eqcol1 {
    width: 47%;
    text-align: right;
}

.eqcol1-right {
    width: 20%;
    text-align: right;
}

.eqcol2 {
    width: 6%;
    text-align: center;
}

.eqcol3 {
    width: 47%;
    text-align: left;
}

.eqcol3-right {
    width: 74%;
    text-align: left;
}

.steps {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.reveal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6f0ff;
    border: 1px solid #b3d1ff;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 200px;
    margin: 20px auto;
    font-size: 20px;
}

.reveal-steps {
    --md-filled-tonal-button-container-shape: 10px;
}

.dots {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.dot {
    height: 3px;
    width: 3px;
    background-color: #013355;
    border-radius: 50%;
    margin: 2px 0;
}

.learning-path-button {
    width: 100%;
    max-width: 500px;
    --md-outlined-button-container-shape: 10px;
    --md-outlined-button-outline-color: #013355;
    display: inline-block;
    height: 120px;
    margin-bottom: 10px;
}

.lp-header {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: 0.4px;
}

.lp-content {
    font-size: 14px;
    font-weight: 400;
    color: black;
    white-space: normal;
    letter-spacing: 0.4px;

}

#learning-path-begin {
    margin-top: -10px;
}

.learning-path-begin-button {
    width: 100%;
}
