.i-k {
    align-items: center;
    width: 93px;
    position: relative;
    font-size: 18px;
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    font-weight: 700;
    font-family: Roboto;
    color: #04272d;
    text-align: center;
    margin-bottom: 10px;
    }

    .i {
        font-weight: 700;
  }
  .in-this-formula-container {
        width: 328px;
        position: relative;
        font-size: 16px;
        letter-spacing: 0.4px;
        line-height: 24px;
        color: #000;
        text-align: left;
        display: inline-block;
        height: 96px;
        font-family: Roboto;
  }
  
  
  .k {
    font-weight: 700;
    font-family: Roboto;
}
.known-as-the {
    font-family: Roboto;
}
.k-known-as-the-figure-of-meri {
    margin: 0;
}
.k-known-as-container {
    width: 100%;
    position: relative;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 24px;
    color: #000;
    text-align: left;
    display: inline-block;
    height: 216px;
    font-family: Roboto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


.dropdown-menu-inline {
    display: inline-block;
    margin-left: 5px; /* Adjust margin as needed */
}

.select-dropdown {
    width: 100px;
    height: 38px;
    border-radius: 12px;
    border: 1px solid #a1a1a1;
    box-sizing: border-box;
    padding: 7px 17px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color: #000;
    padding: 2px 5px;
    margin: 0 5px;
}

.select-dropdown option {
    color: #047db7; /* Change the color of the dropdown menu options */
}
