.Galvanometer-section {
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 4px #319036;
    border-radius: 8px;
    background-color: #fff;
    height: auto; /* Keep the bounding box height fixed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Galvanometer-section img {
    width: 75%; /* Reduce the image size to 75% of its container */
    height: auto; /* Maintain aspect ratio */
    object-fit: scale-down; /* Ensure the entire image is visible without being cropped */
    position: relative;
}


.legend {
    width: 100%; /* Ensure the legend takes the full width of the container */
    position: relative;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif; /* Ensure the font family is properly quoted and generic fallback is provided */
    color: #7b7b7b;
    display: flex;
    justify-content: center; /* Center horizontally */
    text-align: center;
}

.ECG-section {
    margin-bottom: 20px;
    }

.ECG-section img {
    width: 100%;
    position: relative;
    border-radius: 8px;
    max-width: 100%;
    overflow: hidden;
    height: 218px;
    object-fit: cover;
    }