.i-k {
    align-items: center;
    width: 93px;
    position: relative;
    font-size: 18px;
    letter-spacing: 0.4px;
    line-height: 24px;
    display: inline-block;
    font-weight: 700;
    font-family: Roboto;
    color: #04272d;
    text-align: center;
    margin-bottom: 10px;
    }

    .i {
        font-weight: 700;
  }
  .in-this-formula-container {
        width: 328px;
        position: relative;
        font-size: 16px;
        letter-spacing: 0.4px;
        line-height: 24px;
        color: #000;
        text-align: left;
        display: inline-block;
        height: 96px;
        font-family: Roboto;
  }
  
  
  .k {
    font-weight: 700;
    font-family: Roboto;
}
.known-as-the {
    font-family: Roboto;
}
.k-known-as-the-figure-of-meri {
    margin: 0;
}
.k-known-as-container {
    width: 100%;
    position: relative;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 24px;
    color: #000;
    text-align: left;
    display: inline-block;
    height: 216px;
    font-family: Roboto;
}


