
.result {
    margin-top: 120px;
    width: auto;
    position: relative;
    background-color: #fff;
    height: auto;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    color: #004a76;
    font-family: Roboto;
}

.ellipse-div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #c2e7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}


.description {
    margin: 16px;

}


.lab-simulation-content p {
    text-align: center;
}

.enter-lab-button {
    width: 100%;
}
