.body {
    overflow: hidden;
}

.lab-simulation-content {
    margin-top: 30%;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    font-family: Roboto;
    text-align: center;
}

.phone-icon-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #c2e7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.enter-lab-button {
    width: 100%;
}
