body {
    background-color: white;
}

:root {
  --md-sys-color-primary: #004A76;
  --md-sys-color-secondary-container: #DFF3FF;
  --md-sys-color-on-secondary-container: #013355;
  --md-sys-color-surface-container-high: #FFFFFF;
  --md-sys-color-surface: #ffffff;
  --md-menu-container-color: #ffffff;
  --md-focus-ring-duration: 0;
  --md-focus-ring-color: #ffffff;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

h2 {
    color: #082C7F;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 140% */
    letter-spacing: 0.3px;
}

h3 {
    color: #04272D;
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    letter-spacing: 0.4px;
    margin-top: 40px;
}

p, span{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.4px;
}

.icon-inline {
    height: 20px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: -3px;
    font-size: 18px;
    color:#047DB7;
}

.arrow {
    fill: none;
    stroke: black;
    stroke-width: 2;
    marker-end: url(#arrowhead);
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 2;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

li {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.4px;
}

.header {
    background-color: #047DB7;
    height: 70px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 500;
}

.header-content h1 {
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Ensures that the overflow is hidden */
    text-overflow: ellipsis; /* Adds ellipsis (...) at the end of the text */
}

.header-content {
    color: white;
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    padding-left: 20px;
}

.close-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

.instruction-content {
    margin-left: 16px;
    width: calc(100% - 32px);
}

.diagram-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.feedback {
    background-color: #DFF3FF; /* Purple background */
    color: black; /* White text */
    padding: 10px 15px; /* Padding */
    border-radius: 10px; /* Rounded corners */
    margin-top: 10px; /* Space above the feedback box */
    margin-bottom: 10px;
    display: none;
}

.button-container {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
}

.fd-next-button {
    margin-top: 10px;
    width: 100%;
}

.fd-next-section-button {
    width: 100%;
}

.fd-complete-lesson {
    width: 100%;
}

.hidden-button {
    display: none;
}

.mc-button {
    width: 100%;
    height: 45px;

    --md-outlined-button-container-shape: 10px;
    
    --md-outlined-button-label-text-weight: 400;

}

.mc-button-wrapper {
    width: 100%;

    margin-top: 5px;
    margin-bottom: 5px;

    position: relative;
    display: inline-block;
}

.status-icon {
    position: absolute;
    top: -7px; /* Adjust as needed */
    left: -7px; /* Adjust as needed */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #C92525;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size:8px;
    font-weight: bold;
    z-index: 10;
}

.check-icon {
    background-color: #2B7D2F;
}

.x-icon {
    background-color: #C92525;
}

.status-icon .material-symbols-outlined {
    font-size: 16px; /* Adjust the size of the icon */
    line-height: 16px; /* Ensure the icon is vertically centered */
    font-weight: bold;
}

.multi-select-wrapper {
    width: 100%;

    margin-top: 5px;
    margin-bottom: 5px;

    position: relative;
    display: inline-block;

}

.multi-select-button {
    width: 100%;
    height: 45px;

    --md-outlined-button-container-shape: 10px;
    
    --md-outlined-button-label-text-weight: 400;
    background-color: #FFFFFF;

    --md-outlined-button-hover-label-text-color: #FFFFFF;

}

.multi-select-checkbox {
    position: absolute;
    pointer-events: none; /* Ensure the checkbox doesn’t intercept clicks intended for the button */
    z-index: 10;

    --md-checkbox-selected-container-color: #FFFFFF;
    --md-checkbox-selected-icon-color: #047DB7;

}

.multi-status-icon {
    position: absolute;
    top: -7px; /* Adjust as needed */
    right: -7px; /* Adjust as needed */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size:8px;
    font-weight: bold;
    z-index: 10;
}

.multi-status-icon .material-symbols-outlined {
    font-size: 16px; /* Adjust the size of the icon */
    line-height: 16px; /* Ensure the icon is vertically centered */
    font-weight: bold;
}

.multi-select-submit-button {
    margin-top: 15px;
    width: 100%;
}

.dropdown-row-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.dropdown-row {
    display: flex;
    align-items: center;
}

.dropdown {
    margin: 5px;
    position: relative;
    display: inline-block;
}

.dropdown-button {
    --md-outlined-button-container-shape: 10px;
    --md-outlined-button-label-text-weight: 400;
    --md-outlined-button-trailing-space: 32px;
    --md-outlined-button-leading-space: 5px;

    --md-outlined-button-label-text-color: black;
    --md-outlined-button-focus-label-text-color: black;
    --md-outlined-button-hover-label-text-color: black;
    
}

.dropdown-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.dropdown-inline-text {
    line-height: 260%;
}

.dropdown-inline {
    display: inline;
}

.dropdown-button-inline {
    margin-bottom: 10px;

}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}