/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Root Variables */
:root {
    --md-sys-color-primary: #004A76;
    --md-sys-color-secondary-container: #DFF3FF;
    --md-sys-color-on-secondary-container: #013355;
    --md-sys-color-surface-container-high: #FFFFFF;
    --md-sys-color-surface: #ffffff;
    --md-menu-container-color: #ffffff;
    --md-focus-ring-duration: 0;
    --md-focus-ring-color: #ffffff;
}

/* Body */
body {
    background-color: white;
    overflow: hidden;
}

/* Headers */
h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

h5 {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 0.3px;
    margin: 0;
}

/* Section Titles */
.section-title-container {
    position: relative;
    height: 17vh;
}

.section-title {
    position: absolute;
    bottom: 0;
    padding: 15px 25px;
    display: inline-block;
    border-radius: 0 10px 10px 0;
    margin-bottom: 20px;
}

/* Feature Images */
.feature-image-container {
    height: 32vh;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.feature-image {
    max-height: 100%;
    max-width: 90%;
}

.feature-caption {
    padding: 10px 40px;
    text-align: center;
    line-height: 26px;
    font-weight: 300;
}

/* Text Colors */
.white-text {
    color: #fff;
}

.dark-text {
    color: #000;
}

/* Background Colors */
.bg-yellow {
    background-color: #FFD300;
}

.bg-red {
    background-color: #E25141;
}

.bg-blue {
    background-color: #4153AF;
}

/* Navigation */
.navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: transparent;
}

/* Dots */
.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #4153AF;
}

/* Screens */
.screen {
    display: none;
}

.screen.active {
    display: block;
}


/* ------------------------------ */
/* -----Course Overveiw Page----- */
/* ------------------------------ */


/* Header */
.header {
    background-color: #047DB7;
    height: 70px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 500;
}

.header-content {
    color: white;
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    padding-left: 20px;
}

.header-content h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.close-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

/* Instruction Content */
.instruction-content {
    margin-left: 16px;
    width: calc(100% - 32px);
    padding-bottom: 80px;
}

.start-button {
    width: 100%;
}

.expectations {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.time, .format {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    border: 2.5px solid #DFF3FF;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
}

.overview-icon {
    width: 35px;
    padding: 5px;
}

.time p, .format p {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}

/* Tags */
.tags {
    width: 100%;
    margin-bottom: 20px;
}

.tags span {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    font-size: 14px;
    border: 2px solid #047DB7;
    border-radius: 20px;
    color: #047DB7;
    font-weight: bold;
}

/* Button */
.button {
    width: 100%;
    position: relative;
    border-radius: 100px;
    background-color: #004A76;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}