.section-title-container {
    position: relative;
    height: 17vh;
}

.section-title {
    position: absolute;
    bottom: 0;
    padding: 15px 25px;
    display: inline-block;
    border-radius: 0 10px 10px 0;
    margin-bottom: 20px;
}

h5 {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 0.3px;
    margin: 0px;
}

.feature-image-container {
    height: 32vh;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

.feature-image {
    max-height: 100%;
    max-width: 90%;
}

.feature-caption {
    padding: 10px 40px;
    text-align: center;
    line-height: 26px;
    font-weight: 300;
}

.white-text {
    color: #fff;
}

.dark-text {
    color: #000;
}

.bg-yellow {
    background-color: #FFD300;
}

.bg-red {
    background-color: #E25141;
}

.bg-blue {
    background-color: #4153AF;
}

.course-overview-section {
    padding: 10px;
    display: flex;
    flex-direction: column; /* Ensures content is stacked vertically */
    justify-content: flex-start; /* Align items to the start of the flex container */
    align-items: flex-start; /* Align items to the start of the container horizontally */
}

.navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: transparent;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #4153AF;
}

.screen {
    display: none;
}

.screen.active {
    display: block;
}

.expectations {
    display: flex;
    flex-direction: column; /* Stack the .time and .format vertically */
    gap: 10px; /* Add some space between the .time and .format sections */
    margin-bottom: 40px;
    width: 100%; /* Ensure the expectations container takes the full viewport width */
    padding: 0 10px; /* Add padding to the container to prevent content from touching the edges */
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
}

.time, .format {
    display: flex;
    width: 100%; /* Ensure the boxes take the full width of the expectations container */
    align-items: center; /* Align items (image and text) in the center vertically */
    gap: 10px; /* Add some space between the image and the text */
    border: 2.5px solid #E3E6FF; /* Ensure the border style and color are specified */
    border-radius: 10px;
    padding: 10px; /* Add padding to make the content look better inside the border */
    position: relative;
    box-sizing: border-box;

}

.time img, .format img {
    max-width: 40px; /* Adjust the size of the image as needed */
    height: auto;
}

.time p, .format p {
    margin: 0; /* Remove default margin from the paragraph */
    font-size: 16px;
    font-weight: normal;
}

.tags {
    width: 100%; /* Ensure it takes the full width of the container */
    margin-bottom: 20px;
}

.tags span {
    display: inline-block;
    padding: 5px 10px; /* Smaller padding */
    margin: 5px 5px 5px 0; /* Add bottom margin for spacing between rows */
    font-size: 14px; /* Smaller font size */
    border: 2px solid #047DB7; /* Ensure the border style and color are specified */
    border-radius: 20px;
    color: #047DB7;
    font-weight: bold;
}


.button {
    width: 100%;
    position: relative;
    border-radius: 100px;
    background-color: #004A76;
    /* height: 40px; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}


body {
    background-color: white;
    overflow: hidden;
}


:root {
  --md-sys-color-primary: #004A76;
  --md-sys-color-secondary-container: #DFF3FF;
  --md-sys-color-on-secondary-container: #013355;
  --md-sys-color-surface-container-high: #FFFFFF;
  --md-sys-color-surface: #ffffff;
  --md-menu-container-color: #ffffff;
  --md-focus-ring-duration: 0;
  --md-focus-ring-color: #ffffff;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.header {
    background-color: #047DB7;
    height: 70px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 500;
}

.header-content h1 {
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Ensures that the overflow is hidden */
    text-overflow: ellipsis; /* Adds ellipsis (...) at the end of the text */
}

.header-content {
    color: white;
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    padding-left: 20px;
}

.close-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

.instruction-content {
    margin-left: 16px;
    width: calc(100% - 32px);
    padding-bottom: 80px;
}

.start-button {
    width: 100%;
}

