body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    transition: background-color 0.5s ease;
}


p {
    font-size: 20px;
    line-height: 32px;
}

.container {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    margin: 0 auto;
}

.header {
    padding: 20px;
    text-align: left;
}

.section {
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    position: relative;
}

.title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 0px; /* Adjust top padding to ensure consistent position */
    left: 0px; /* Adjust left padding to ensure consistent position */
    width: auto;
    background-color: #FFD300;
    padding: 10px;
    border-radius: 0 10px 10px 0;
}

.white-text {
    color: #fff;
}

.dark-text {
    color: #000;
}

.bg-red {
    background-color: #E25141;
}

.bg-blue {
    background-color: #4153AF;
}

.quiz-section, .hypothesis-section, .lab-section, .course-overview-section {
    padding: 40px;
    border-radius: 10px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-section img, .hypothesis-section img, .lab-section img {
    max-width: 100%;
    height: auto;
    align-items: center;
    border-radius: 10px;
    margin: 20px 0;
}

.footer {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    height: 100px; /* Fixed height for footer to avoid content jumping */
}

.navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: transparent;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #4153AF;
}

.screen {
    display: none;
}

.screen.active {
    display: block;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.tags span {
    display: inline-block;
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
}

.expectations {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.expectations .time, .expectations .format {
    flex: 1;
    margin-right: 10px;
}

.expectations .time h3, .expectations .format h3 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}

.roadmap-icon {
    cursor: pointer;
    font-size: 24px;
}
